<!doctype html>

<html>

<head>
    <title>Daveloper87 Node Express & Handlebars Skeleton</title>
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <header>
        <div class="container">
            <div class="jumbotron">
                <h1>Node Skeleton <small>by Daveloper87</small></h1>
            </div>
        </div>
    </header>
</head>

<body>
    {{{body}}}
</body>

</html>